
.container {
    display: flex;
    justify-content: space-between;
}

.container .box:nth-child(1){
    background-color: #F4EB49;
    width: 20%;
}

.container .box:nth-child(2) {
    width: 79%; 
    height: 90px;
    background-color: #FF6624;
}


.topbox {
    display: flex;
    height: 400px;
    justify-content: space-between;
}

.topbox .box:nth-child(1){
    width: 20%;
    background-color: #AEDD94;
}

.topbox .box:nth-child(2){
    width: 60%;
    background-color: #D1D6DB;
}

.topbox .box:nth-child(3){
    width: 18%;
    background-color: aqua;
}

.box {
    margin-bottom: 10px;
    justify-content: space-between;
}

.bawah {
    display: flex;
    margin-bottom: 10px;
}

.bawah .box:nth-child(1) {
    width: 100%; 
    height: 90px;
    background-color: #1464F6;
    
}